python-dotenv
ipdb
numpy
openai
ag2
pymongo
flask
flask-cors
prefect
ollama
pytest
pytest-mock
pytest-asyncio
pytest-flask
pytest-cov
matplotlib
seaborn
pandas
jinja2
markdown
scikit-learn
scipy
click
pdfkit